<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Create a new chat room! | Node.js Demo</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap.icon-large.min.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<section>

		<div class="homesection">

			<div class="node">
				<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">powered web chat</h2>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>

			<div class="tutorial">
				<a href="https://github.com/KorbenC/nodejs-private-webchat" data-toggle="tooltip" title="View Source on GitHub"><i class="icon-large icon-github"></i></a>
			</div>

		</div>
		</div>

	</section>

</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
		$("[data-toggle=tooltip]").tooltip({ placement: 'bottom'});
});
</script>
</html>
